/*RESET*/
*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

a, 
a:visited, 
a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: inherit;
}
/*CONTENT*/
.s-section {
    height: 235px;
    background-color: #F8F8F8;
}
.s-title {
    height: 80px;
    padding: 16px;
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFF 100%);
}
@media (min-width: 768px) {
    .s-title {
        height: 56px;
    }
}
.s-title__text {
    color: #7E7E82;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: -0.2px;
    text-transform: uppercase;
}
.s-nav {
    width: 320px;
    height: 116px;
    padding: 16px;
  }

.s-nav__link {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: url('img/go.svg') no-repeat;
}
.s-nav__item {
    width: 240px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px; /* ??? */
}
.swiper-pagination {
    position:static;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    line-height: 12px;
    flex-shrink: 0;
    background-color: #b5b6bc;  
}
.s-section__button {
    display: none;
}
@media (min-width: 768px) {
    .s-section__button {
        display: flex;
        gap: 9px;
        margin: 24px;
        margin-bottom: 34px;
    }
}
.s-expand-button__text {
    font-family: "TT Lakes", sans-serif;
    color: #1B1C21;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}