/*RESET*/
*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

a, 
a:visited, 
a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: inherit;
}
/*CONTENT*/
.s-section {
    height: 235px;
    border-top: 1px solid #D9FFF5;
    border-bottom: 1px solid #F8F8F8;
    background-color: #F8F8F8;
}
@media (min-width: 768px) {
    .s-section {
        height: auto;
    }
}
.s-title {
    position: relative;
    height: 80px;
    padding: 16px;
    border-top: 1px solid #D9FFF5;
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFF 100%);
}
@media (min-width: 768px) {
    .s-title {
        height: 56px;
        padding: 16px 24px;
    }
}
@media (min-width: 1120px) {
    .s-title {
        padding: 16px 32px;
    }
}
.s-title::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 81px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
    top: 92px;
    right: 0;
    z-index: 100;
}
@media (min-width: 768px) {
    .s-title::after {
        display: none;
    }
}

.s-title__text {
    color: #7E7E82;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: -0.2px;
    text-transform: uppercase;
}
.s-nav {
    width: auto;
    height: 126px;
    padding-top: 16px;
    padding-left: 16px;
  }
@media (min-width: 768px) {
    .s-nav {
        height: 185px;
        padding-top: 24px;
        padding-left: 32px;
    }
    .s-nav--minimalize {
        height: 185px;
    }
    .s-nav--expanded {
        height: auto;
    }

}
@media (min-width: 1120px) {
    .s-nav {
        height: 185px;
        padding-top: 24px;
        padding-left: 32px;
    }

}

@media (min-width: 768px) {
    .s-nav__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 16px 24px;
        overflow: hidden;
    }
}
@media (min-width: 1120px) {
    .s-nav__list {
        gap: 16px 32px;
    }

}
.s-nav__link {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: url('img/go.svg') no-repeat;
}
.s-nav__item {
    width: 240px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px; /* ??? */
}
@media (min-width: 768px) {
    .s-nav__item {
        width: 224px;
    }
}
@media (min-width: 1120px) {
    .s-nav__item {
        width: 240px;
    }
}
@media (min-width: 768px) {
    .swiper-pagination {
        display: none;
    }
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    line-height: 12px;
    flex-shrink: 0;
    background-color: #b5b6bc;  
}
.s-section__button {
    display: none;
}
@media (min-width: 768px) {
    .s-section__button {
        display: flex;
        gap: 9px;
        margin: 24px;
        margin-bottom: 34px;
    }
    .s-section__button--minimalize {
        margin-left: 32px;
        margin-bottom: 34px;
    }
    .s-section__button--expanded {
        margin-bottom: 14px;
        margin-top: 46px;
    }
    .s-expand-button__img--top {
        transform: rotate(180deg);
    }
}
@media (min-width: 1120px) {
    .s-section__button {
        display: flex;
        gap: 9px;
        margin-left: 32px;
    }

}
.s-expand-button__text {
    font-family: "TT Lakes", sans-serif;
    color: #1B1C21;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}